* {
    box-sizing: border-box;
}
h1 {
    color: rgb(185, 180, 180);
}
h2 {
    color: rgb(185, 180, 180);
}
p {
    color: rgb(185, 180, 180);
}
#siteWrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 2398px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: auto;
}
#bodId {
    background:url("dark-dusk-evening-934964.jpg") no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #daa78f;
}
#divHeader {
    width: 100%;
    height: 110px;
    background-color: #d6181824;
    padding: 15px;
    text-align: center;
    z-index: 1;
}
#container {
    height: 2220px;
    margin-top: 22px;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    overflow: auto;
}
.menu {
    float: left;
    width: 33%;
    text-align: center;
}
.instrumentDiv {
    background-color: #d6181824;
    padding: 8px;
    margin-top: 7px;
    display: block;
    height: 609px;
    width: 61%;
    color: rgb(185, 180, 180);
    font-size: 270%;
}
#guitarImg {
    width: 231px;
}
#harmonicaImg {
    width: 322px;
}
#djembeImg {
    width: 190px;
}
#didgeImg {
    width: 290px;
}

.main {
    float: left;
    text-align: center;
    width: 33%;
    height: 60%;
    margin-top: 7px;
    margin-left: 11px;
    padding: 7px;
    background-color: #d6181824;
}
.right {
    background-color: #d6181824;
    float: right;
    width: 33%;
    padding: 7px;
    margin-top: 7px;
    text-align: center;
}
#footer {
    background-color: #d6181824;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
}
/* MOBILE */
@media only screen and (max-width:620px) {
    .menu, .main, .right {
    width: 100%;
    }
}