body {
    max-height: 100vh;
    display: grid;
    background: url(abstract-art-decoration-380337.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(29, 68, 70, 0.52);
    background-blend-mode: color-burn;
    
}
.siteWrapper {
    margin: auto;
    display: grid;
    height: 100vh;
    width: 77vw;
    grid-template-rows: auto 1fr 1fr 8fr 1fr auto;
    grid-template-areas: 
    "nb nb nb nb nb nb" 
    "fh fh fh fh fh fh" 
    "sh sh sh sh sh sh" 
    "cd cd cd cd cd cd"
    "cd cd cd cd cd cd" 
    "fc fc fc fc fc fc";
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.83);
    border-radius: 3px;
}
/* NAVBAR */
.navBar {
    grid-area: nb;
    font-size: .9em;
    float: left;
    background-color: rgba(1, 94, 85, 0.5);
    box-shadow: 0 5px 7px 0 rgba(1, 94, 85, 0.48), 0 6px 20px 0 rgba(1, 48, 43, 0.219);
}
.navBar a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    padding: 15px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 3px;
    margin: 5px;
    /* margin-left: 3%;   
    margin-top: 4%; */
}
.navBar a:hover {
    background-color: rgba(0, 0, 0, 0.452);
}
/* HEADERS */
.firstHeader {
    grid-area: fh;
    font-size: 2.8em;
    font-family: 'Righteous', cursive;
    text-align: center;
}
.firstHeaderB {
    grid-area: fh;
    font-size: 3em;
    font-family: 'Righteous', cursive;
    text-align: center;
}
.secondHeader {
    grid-area: sh;
    font-family: 'Staatliches', cursive;
    padding: 14px;
    text-align: center;
    border-top: 4px solid #133233;
    border-bottom: 8px dashed #1c4840ab;
    font-size: large;
}
/* MAIN DIV */
.mainDiv {
    grid-area: cd;
    overflow: scroll
}

/* SHOWCASE DIV */
.carDivs {   
}

/* IMAGES AND LINKS */
.clickPic {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: blanchedalmond;
    opacity: 1;
}
.clickPic:hover {
    cursor: pointer;
    opacity: .5;
}
img {
    display: block;
    margin: auto;
    width: 17%;
}
.picDescription {
    background-color:rgba(7, 56, 56, 0.609);
    font-size: 2em;
    text-align: center; 
    box-shadow: 0 4px 8px 0 rgba(1, 48, 43, 0.192), 0 6px 20px 0 rgba(1, 94, 85, 0.123);
}







/* FOOTER */
.footerClass {
    font-size: 5%;
    text-align: right;
    padding: 10px;
    grid-area: fc;
}

/* display: none;
position: absolute; */