* {
    box-sizing: border-box;
    font-size: 0px;
}
#dkHeader {
    margin: auto;
    height: 302px;
    width: 750px;
    background-image: url("Donkey-Kong-Country.jpeg");
    background-size: 750px 302px;
    border-radius: 1px;
}
.dkTitle {
    margin: auto;
    padding: 10px;
    font-size: 40px;
    color: #f05a15;
    font-weight: bold; 
    text-align: center;
    position: relative; 
}
#donkeyTitle {
    width: 320px;
    height: 73px;
    left: -215px;
    top: 0px;
    background-color: #01521c;
}
#pestTitle {
    width: 190px;
    padding: 2px;
    left: 280px;
    top: -70px;
}
#start {
    margin: auto;
    font-size: 40px;
    font-family: Impact, fantasy;
    position: relative;
    left: 320px;
    top: 65px;
    background-color: #f05a15;
    color: black;
    border: black;
    opacity: .8;
    border-radius: 2px;
}
#start:hover {
    cursor: text;
    opacity: 1;
    cursor: pointer;
    border-color: black;
}
.dkImg {
    width: 110px;
    height: 110px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
body {
    width: 100%;
    height: 500px;
    background-color: grey;
}
.dkBlock {
    margin: auto;
    width: 750px;
    height: 80%;
    background-color: rgba(36, 107, 48, 0.329);
}
#spinBanana {
    margin: auto;
    display: inline-block;
    position: relative;
    left: 100px;
    width: 20px;
    height: 45px;
}
.characterDiv {
    margin: 15px;
    width: 100%;
}
#payBox {
    margin: auto;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 865px;
    top: 350px;
    font-size: 30px;
    background-color: #f05a15;
}
/* .dkImg {
    display: inline-block;
    margin: auto;
    width: 135px;
    height: 135px
} */
.dkInput {
    margin: auto;
    width: 40px;
    font-size: 30px;
    opacity: 0.5;
    color: #ccffde;
    border-color: #006622;
}
.divChild {
    margin: auto;
    display: inline-block;
}
h1 {
    font-size: 25px;
}
#dkFooter {
    margin: auto;
    width: 750px;
    height: 100px;
    text-align: center;
    background-color: #05642c8e;
}
p {
    font-size: 20px;
    color: rgb(241, 238, 232);
}
#totalButton {
    margin: auto;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 865px;
    top: 460px;
    font-size: 80px;
    background-color: #f05a15;
}