* {
    font-size: 0px;
}
.flag {
    margin: 5px;
    width: 400px;
    height: 250px;
}
.franceBox {
    width: 33.333333333%;
    height: 100%;
    display: inline-block;
}
#blue {
    background-color: blue;
}
#white {
    background-color: whitesmoke;
}
#red {
    background-color: red;
}
.germanBox {
    width: 400px;
    height: 33.333333333%;
    display: inline-block;
}
#black {
    background-color: black;
}
#maroon {
    background-color: maroon;
}
#gold {
    background-color: goldenrod;
}
.madagascarBoxA {
    width: 33.333333333%;
    height: 100%;
    display: inline-block;
}
#madRightCol {
    height: 100%;
    width: 66.666666666%;
    display: inline-block;
}
.madagascarBoxB {
    width: 100%;
    height: 50%; 
    display:inline-block;   
}
#whiteA {
    background-color: whitesmoke;
}
#redA {
    background-color: red;
}
#greenA {
    background-color: green;
}
.switzFlag {
    position: relative;
    margin: 5px;
    height: 400px;
    width: 400px;
    background-color: red;
}
.plusSign {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50%);  
    background-color: whitesmoke;
}
#horizontalRec {
    height: 80px;
    width: 240px;
}
#verticalRec {
    height: 240px;
    width: 80px;
}
.swedeFlag {
    position: relative;
    margin: 5px;
    height: 250px;
    width: 400px;
    background-color: #006aa7;
}
.swedeCross {}
    
#vertLine {
    height: 250px;
    width: 40px;
    top: 50%;
    left: 40%;
    position: absolute;
    transform: translate( -50%, -50%);
    background-color: #fecc00;
}
#horizLine {
    height: 15%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50%);
    background-color: #fecc00;
}