body {
  width: 80 vw;
  height: 80 vh;
  
}

.diviWrap {
  background-color: black;
  width: 100px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

}

.blue {
  display: grid;
  text-align-last: center;  
  width: 10px;
  height: 10px;
  box-shadow: 3px -4px 3px 1px rgb(126, 68, 54);
  background-color: rgb(51, 139, 120);
}

.brown {
  position: relative;
  z-index: 1;
  background-color: brown;
  top: 8px;
}

.A {
  z-index: 2;
  border-top-left-radius: 10px; 
}

.B {
  z-index: 2;
  border-top-right-radius: 10px
}
.C {

}

.tan {
  z-index: 1;
  background-color: tan;
}
.black {
  background-color: black;
}