body {
    grid-area: b;
}
#siteWrap {
    display: grid;
    max-height: 100vh;
    max-width: 100vw;
    grid-template: 
    "h h h h h h" 
    ". . . . . ."
    ". d d . . ."
    ". . . . . ."
    "f f f f f f";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background: url(moon-airlines.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#topHeader {
    width: auto;
    height: auto;
    grid-area: h;
    position: relative;
    font-size: 80px;
    color: #dbdee0;
}
.box {
    height: 250px;
    width: 250px;
    display: grid;
    grid-area: d;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "a";
    
}
#application {
    display: grid;
    grid-area: a;
    width: 30vw;
    height: 30vh;
    background-color: #385264;
    border-radius: 3px;
    opacity: .6;  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template
}
#firstName {
    grid-template-areas: fn;
} 
#lastName {
    grid-template-areas: ln;
}
#age {
    grid-template-areas: age;
}
.personalInfo {
    width: 80%;
    height: 25px;
    font-size: 22px;
    border-radius: 2px;
}
#age {
    width: 80px;
}
pre {
    margin: 0px;
    padding: 0px;
}
#gender, #gender {
    font-size: 5px;
    position: relative;
}
#genderHeader {
    font-size: 26px;
    /* background-color: brown; */
    color: rgb(192, 194, 228);
    width: auto;
    position: relative;
    border-radius: 2px;
}
#dateOfDeparture {
    font-size: 24px;
    border-radius: 2px;
}
#destination {
}
#submitForm {
    font-size: 22px;
}
#diet {

}
#moonRegion {
    font-size: 23px;
    height: 32px;
}
footer {
    grid-area: f;
}
