* {
  margin: 0;
  box-sizing: border-box;
}

html body {
  height: 100vh;
  width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/136419/pexels-photo-136419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.siteWrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 66, 0.521);
  text-align: center;
}

.navTab {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 93px;
  background-color: rgba(158, 158, 158, 0.507);
}

.navButtons {
  font-size: 22px;
  width: 25%;
  padding: 2px;
  margin: 12px;
  border-color: rgba(6, 122, 255);
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
  background-color: rgba(247, 147, 33, 0.856);
  border-radius: 2px;
}

.navButtons:hover {
  cursor: pointer;
  box-shadow: 6px 10px 7px -5px black;
  background-color: rgb(255, 139, 6);
}

.headerClass {
  display: flex;
  margin: auto;
  width: 100vw;
  flex-direction: column;
  border-color: rgb(255, 139, 6);
}

.titleHeader {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 44px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 2px rgba(6, 122, 255);
}

.introPar {
  margin: 2%;
  text-shadow: 0px 0px .03px rgba(6, 122, 255);
}

.welcomeHeader {
  text-shadow: 0px 0px .03px rgba(255, 139, 6);
}

.introClosingHeader {
  margin-bottom: 2%;
  text-shadow: 0px 0px .03px rgba(255, 139, 6);
}

.dataPar {
  display: flex;
  margin: auto;
  width: 500px;
  height: 500px;
  text-shadow: 0px 0px .03px rgb(50, 250, 0);
}

.imgButton {
  display: flex;
  margin: auto;
  width: auto;
  height: auto;
  background-image: "/Users/student/dev/assignments/text-detect/tmp/handwritten-note.jpg";
}

.footerDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 500px;
}