* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(231, 231, 231);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.app-wrap {
  width: 80vw;
  height: 100vh;
  background-color: rgb(165, 165, 165);
}

.site-wrap {
  display: flex;
  justify-content: center;
  width: 80vw;
  text-align: center;
  background: url("https://images.pexels.com/photos/977736/pexels-photo-977736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position-x: 83%;
  background-position-y: 32%;
  background-size: cover;

}

.nav-tab:before {
  content: " ";
  width: auto;
  height: auto;
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  bottom: -5px;
  box-shadow: inset 0 0 0 200px rgba(86, 90, 94, 0.288);
  filter: blur(9px);
}

.nav-tab {
  display: flex;
  background: inherit;
  justify-content: flex-start;
  position: fixed;
  width: 80vw;
  height: 50px;
  border-radius: 2px;
  align-items: center;
  overflow: hidden;
}

.nav-buttons {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
  padding: 0;
  width: auto;
  font-size: 1.6em;
  color: rgb(170, 170, 170);
  text-decoration-line: none;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
  border-radius: 2px;

}

.nav-buttons:hover {
  position: relative;
  cursor: pointer;
  text-shadow: 0px 0px 4px rgb(214, 214, 214);
  color: rgb(221, 221, 221);
}

.nav-buttons:active {
  cursor: pointer;
  text-shadow: 0px 0px 4px black;
}

.search-bar {
  font-size: 22px;
  width: auto;
  left: 204px;
  border: none;
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
  padding: 0;
  color: rgb(5, 5, 5);
  background-color: rgb(182, 182, 182);
  text-decoration-line: none;
  transition: background-color .25s ease-in-out, text-shadow .15s ease-in-out, color .25s ease-in-out;
  border-radius: 2px;
}

.search-bar:hover {
  color: black;
  background-color: rgb(163, 163, 163);
  text-shadow: 0px 0px 2px rgb(204, 204, 204);

}

.header-wrap {
  width: 80vw;
  height: 255px;
  background: url("https://images.pexels.com/photos/977736/pexels-photo-977736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
}

.header-class {
  margin-top: 30px;
  display: flex;
  width: auto;
  flex-direction: column;
  border-radius: 2px;
}

.title-header {
  color: rgb(189, 189, 189);
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.intro-par {
  font-size: 25px;
  margin: 2%;
  color: rgb(190, 190, 190);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.welcome-header {
  color: rgb(218, 218, 218);
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.header-closing {
  margin-bottom: 2%;
  color: rgb(179, 179, 179);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.data-wrap {
  display: grid;
  top: 50px;
  position: relative;
  width: 80vw;
  height: 205px;
}

.data-div {
  width: 80vw;
  height: 205px;
}

.img-example {
  grid-area: img;
  cursor: pointer;
  width: 200px;
  box-shadow: 0px 0px 5px black;
}

.data-par {
  display: flex;
  width: auto;
  align-content: space-between;
  justify-content: center;
  padding: 5%;
  font-size: 1em;
  background-color: rgba(179, 179, 179, 0.821);
  text-shadow: 0px 0px .03px rgb(60, 255, 0);
  box-shadow: 0px 0px .1px rgb(0, 0, 0);
  border-radius: 4px;
}

.image-form {
  background-color: rgba(155, 155, 155)
}

#pic-input {
  background-color: rgba(166, 166, 166);
}

/* FOOTER */

.footer-div {
  display: flex;
  position: fixed;
  bottom: 0px;
  font-family: monospace;
  justify-content: space-evenly;
  display: flex;
  margin: auto;
  width: 80vw;
  background-color: rgba(190, 190, 190, 0.821);
}

.footer-par {
  margin-right: 55px;
}

.footer-copyright {
  margin-left: 55px;
}

.quality-div {
  display: flex;
  margin-top: 120px;
  width: 99vw;
  flex-direction: column;
  background-color: rgba(216, 216, 216, 0.821);
  border-radius: 2px;
  box-shadow: 0px 0px .1px rgb(0, 0, 0);
}