* {
  margin: 0;
  box-sizing: border-box;
}

html body {
  width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/136419/pexels-photo-136419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.siteWrap {
  width: 100vw;
  text-align: center;
}

.navTab {
  width: 100%;
  display: flex;
  background-color: rgba(216, 216, 216, 0.821);
  height: 85px;
  border-radius: 3px;
}

.navButtons {
  font-size: 22px;
  width: 25%;
  padding: 2px;
  margin: 12px;
  border-color: rgba(6, 122, 255);
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
  background-color: rgba(103, 172, 91);
  border-radius: 2px;
}

.navButtons:hover {
  cursor: pointer;
  box-shadow: 6px 10px 7px -5px black;
  background-color: rgb(103, 172, 91, 0.856);
}

.headerClass {

  display: flex;
  margin-top: 25px;
  width: 100vw;
  flex-direction: column;
  background-color: rgba(216, 216, 216, 0.821);
  border-radius: 3px;
}

.titleHeader {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 2px rgba(6, 122, 255);
}

.introPar {
  font-size: 25px;
  margin: 2%;
  text-shadow: 0px 0px .03px rgba(103, 172, 91);
}

.welcomeHeader {
  text-shadow: 0px 0px .03px rgba(103, 172, 91);
}

.introClosingHeader {
  margin-bottom: 2%;
  text-shadow: 0px 0px .03px rgba(103, 172, 91);
}

.dataDiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgExample {
  width: 50%;
  box-shadow: 0px 0px 5px black;
}

.dataPar {
  display: flex;
  padding: 5%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 150%;
  background-color: rgba(216, 216, 216, 0.821);
  text-shadow: 0px 0px .03px rgb(50, 250, 0);
  border-radius: 4px;
}

.imgButton {
  display: flex;
  margin: auto;
  width: auto;
  height: auto;
  background-image: "/Users/student/dev/assignments/text-detect/tmp/handwritten-note.jpg";
}

.footerDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: rgba(216, 216, 216, 0.821);
}