
.main-wrapper {
  display: grid;
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: 
    "mh"
    "p"
    "ft";
}

.myhead {
  grid-area: mh;
  font-size: 50px;
  display: flex;
  align-items: center;
}
.text{
  background-color: purple;
  height: 33%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  grid-area: p;
  font-size: 40px;
}

footer {
  background-color: lightseagreen;
  grid-area: ft;
  font-size: 20px;
  color: purple;
  font-weight: 100;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}