.greenHeaders {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    line-height: 25px; 
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    float: left;
    margin-right: 25px;
}